body {
  padding-top: 6em;
  font-family: "Roboto", sans-serif;
}

img {
  width: 280px;
}

p{
  font-weight: bold;
}
.menu {
  background: rgb(84, 99, 233);
  padding: 1em;
  text-align: center;
  font-size: 1em;
  width: 100%;
  top: 0;
  position: fixed;
}

.encript_fieldset {
  width: 280px;
  border: 2px double rgb(107, 114, 212);
  margin: 1em;
  font-size: 12px;
}
